@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap");

.playing-card {
  background-color: transparent;
  aspect-ratio: 2.5 / 3.5;
  max-height: 525px;
  perspective: 1000px;
  font-family: "IBM Plex Serif", serif;

  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border: 1px solid #f1f1f1;

    .card-back,
    .card-front {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      background-color: white;
    }

    .card-back {
      img {
        height: 100%;
        width: 100%;
      }
    }

    .card-front {
      position: relative;
      transform: rotateY(180deg);
      display: flex;
      flex-direction: row;

      .suits {
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding: 10% 0;

        .suit-column {
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          &:only-child {
            width: 40%;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;

            &.red {
              filter: invert(14%) sepia(72%) saturate(6299%) hue-rotate(357deg)
                brightness(108%) contrast(115%);
            }
          }
        }
      }

      .suit-container {
        position: relative;
        width: clamp(2.5rem, 10%, 10%);
        flex: 0 0 auto;

        .symbol {
          position: absolute;
          text-align: center;
          font-size: clamp(1.7rem, 25%, 25%);
          font-weight: bolder;
          display: flex;
          flex-direction: column;

          &.top-left {
            top: 0;
            left: 0;
          }

          &.bottom-right {
            transform: rotateX(180deg);
            bottom: 0;
            right: 0;
          }

          &.red {
            color: red;
          }

          img {
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }

  &:hover {
    .card-inner {
      transform: rotateY(180deg);
    }
  }
}
