.App {
  height: 100%;
  width: 100%;
  overflow: auto;
  position: relative;

  .cards-container {
    padding: 1%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(7.8rem, 1fr));
    gap: 0.8rem;
    height: fit-content;
  }

  .inGameStatus {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .inGame {
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding-top: 10px;
    color: blanchedalmond;
    text-shadow: 2px 2px 5px rgb(102, 13, 153);
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
    font-style: italic;
  }

  .inScore {
    padding-left: 50px;
  }

  .inRound {
    padding-right: 50px;
  }
}

.end-game {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  // background-image: url("images/7.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.end-game-content {
  color: white;
  // background-image: url("../src/images/cardgamegif.gif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  .gameover {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .totalscore {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
